[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "other/gnome-terminal-colors-solarized"]
	path = other/gnome-terminal-colors-solarized
	url = https://github.com/aruhier/gnome-terminal-colors-solarized.git
[submodule "other/osx-terminal.app-colors-solarized"]
	path = other/osx-terminal.app-colors-solarized
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized.git
